@font-face {
  font-family: "iconfont"; /* Project id 3986170 */
  src: url('iconfont.woff2?t=1680147779380') format('woff2'),
       url('iconfont.woff?t=1680147779380') format('woff'),
       url('iconfont.ttf?t=1680147779380') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-food:before {
  content: "\e728";
}

.icon-caigoutong106:before {
  content: "\e620";
}

.icon-caigoutong108:before {
  content: "\e622";
}

.icon-caigoutong1108:before {
  content: "\e624";
}

