@font-face {
  font-family: "iconfont"; /* Project id 3989712 */
  src: url('iconfont.woff2?t=1680264723471') format('woff2'),
       url('iconfont.woff?t=1680264723471') format('woff'),
       url('iconfont.ttf?t=1680264723471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e637";
}

.icon-shizhong:before {
  content: "\e686";
}

.icon-24gl-telephone2:before {
  content: "\e953";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-kefu:before {
  content: "\e625";
}

